<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>REGROUP</title>
	<style>	
	</style>
</head>
<body>
<h2>REGROUP для упорядоченного списка</h2>
{% regroup people by gender as gender_list %}

<ul>
{% for gender in gender_list %}
	<li>{{ gender.grouper }}
		<ul>
			{% for item in gender.list %}
				<li>{{ item.first_name }} {{ item.last_name }} </li>
			{% endfor %}
		</ul>		
	</li>
{% endfor %}
</ul>

<h2>REGROUP для неупорядоченного списка</h2>
{% regroup people_for_test by gender as gender_list %}

<ul>
{% for gender in gender_list %}
	<li>{{ gender.grouper }}
		<ul>
			{% for item in gender.list %}
				<li>{{ item.first_name }} {{ item.last_name }} </li>
			{% endfor %}
		</ul>		
	</li>
{% endfor %}
</ul>

<h2>REGROUP с фильтром dictsort </h2>
{% regroup people_for_test|dictsort:"gender" by gender as gender_list %}
<ul>
{% for gender in gender_list %}
	<li>{{ gender.grouper }}
		<ul>
			{% for item in gender.list %}
				<li>{{ item.first_name }} {{ item.last_name }} </li>
			{% endfor %}
		</ul>		
	</li>
{% endfor %}
</ul>

</body>
</html>
